@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* New Year Banner */
* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', 'Inter';
}

/* common shared  styles */
.banner-container {
    width: 85%;
    max-width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    margin-bottom: 120px;
    margin: 0 auto;
    border-radius: 16px;


}

.paragraph-primary {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.btn-primary {
    border-radius: 8px;
    background: #F00;
    border: 0;
    padding: 10px 20px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 48px;
}

.btn-primary:hover {
    cursor: pointer;
    transform: scale(1.1) rotate(10deg);
    background-color: rgb(204, 44, 44);
    transition: background-color 0.3s ease;
}

/* New Year Banner */
.banner {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner-Image.png');
    margin: 50px auto;
    border-radius: 16px;
}

.banner-text h2 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
    margin-bottom: 16px;
}

.banner-text h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    max-width: 50%;
    margin: 0 auto;
}

/* DEAL SECTION */
#deal-container .deal-text h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

#deal-container .deal-text h2 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

#deal-container .deal-text h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

#deal-container .hny-vector {
    width: 60%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 120px;
}

/* deal section ends here... */

/* MIDNIGHT PARTY SECTION */
.party-banner {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    margin: 0 auto;
    margin-bottom: 120px;
    border-radius: 16px;

}

.party-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: 100px auto;

}

.party-banner .party-text h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 24px;

}

.party-banner .party-text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 24px;

}

.party-banner .party-text button {
    color: #0e0e0e;
    background-color: rgb(246, 246, 246);
    margin-left: 32px;
}

.party-banner .party-text button:hover {
    transform: scale(1.1) rotate(10deg);
    background-color: #ded9d9;
    transition: background-color 0.3s ease;
}

.party-banner .vector-2024 img {
    margin-top: 70px;
}

/* party section ends here... */

/* ADDRESS SECTION */
.address {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 0 auto;
    border-radius: 16px;
}

.address .placeDateTimeBtn {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 120px;
}

.address h2 span {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.address h2 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    margin-bottom: 16px;
}

/* address section ends here */

/* bonus section 'new best offer'  */
.new-best-offer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.new-best-offer .coming-soon {
    text-align: left;
}

.new-best-offer .coming-soon h2 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.new-best-offer .coming-soon h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 14px;
    margin-bottom: 24px;
}

.new-best-offer .coming-soon-right .paragraph-primary {
    margin-bottom: 20px;
}

.new-best-offer .celebration-img {
    width: 100%;
    max-width: 364px;
    padding-left: 119px;
    padding-right: 167px;

}

.new-best-offer .coming-soon-right {
    text-align: left;

}

.new-best-offer .coming-soon-right h2 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

/* bonus section 'new best offer' ends here */

/* Holiday Sales styles */
.holiday-sales .holiday-sales-texts {
    text-align: center;
}

.holiday-sales {
    display: flex;
    align-items: center;
}


.holiday-sales .holiday-sales-texts h2 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.holiday-sales .holiday-sales-texts h1 span {
    color: #F00;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

.holiday-sales .holiday-sales-texts h1 {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
}

/* holiday sale ends here */

/* portfolio section styles */
.portfolio .portfolio-texts h1 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.portfolio .portfolio-texts h2 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.portfolio .portfolio-texts {
    max-width: 900px;
    margin-bottom: 20px;
}

.portfolio img {
    max-width: 500px;
    align-items: center;
}

.portfolio .portfolio-texts {
    margin-bottom: 48px;
}

.portfolio {
    margin-bottom: 650px;
}

/*  newsletter section style */
.newsletter {
    background: rgba(255, 0, 0, 0.05);
    margin-bottom: 120px;

}

.newsletter .newsletter-content {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

.newsletter .newsletter-content img {
    margin-bottom: 40px;
    margin-top: 80px;
}

.newsletter .newsletter-content h1 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.newsletter .newsletter-content p {
    margin-bottom: 48px;
}

.newsletter form {
    max-width: 700px;
    margin: 20px auto;
    display: flex;
    gap: 20px;
    justify-content: center;

}

.newsletter form input {
    flex-grow: 1;
    padding: 15px 0;
    border: none;
    border-radius: 5px;
}

.newsletter button {
    background-color: #F00;
    padding: 0 5px;
    margin: 0;
}

/* footer section */
.footer {
    background: #070211;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer .footer-texts {
    max-width: 400px;
    color: white;
    /* align-items: center; */
}